#walrus-showing {
  display: none;
}

#emu-showing {
  display: none;
}

#giraffe-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.col-3 {
  border: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  border-color: #30363d;
}
